@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');


body, html {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    /* height: 100vh; */
    margin: 0;
    background-color: black;
    
    
}

/* parallax  */
.parallax {
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 20px;  
}

header {
    position: relative;
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    height: 60vh;
    width: 100vw;
    transform-style: preserve-3d;
    z-index: -1;
}

.background {
    transform: translateZ(-20px) scale(2);
}

.foreground1{
    transform: translateZ(-10px) scale(1.5);
}

.foreground2{
    transform: translateZ(-5px) scale(1.75);
}

.background, 
.foreground1,
.foreground2{  
    position: absolute;
    /* height: 100vh; */
    width: 100%;
    object-fit: cover;
    z-index: -1;
}

/* Nav Bar */
.navBar{
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.95);
    font-size: 25px;
    width: 100vw;
    /* height: max-content; */
    height: 4.2vh;
    top: 0px;
    position: sticky; 
    z-index: 1;
    margin-bottom: 10px;
    border-bottom: 1px solid rgba(21, 179, 255, 0.9);
}

.searchBox{
    display: block;
    position: relative;
    float: right;
    margin-right: 10%;
}

.searchBox > input{
    padding: 6px 10px;
    border-radius: 5px;
    font-size: 1.2rem;

}

.searchBox > button {
    padding: 6px 10px;
    border-radius: 5px;
    font-size: 1.2rem;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    color: white;
    margin-left: 3px;
}

.searchBox > button:hover{
    background-color: rgba(255, 255, 255, 0.2);
}

.linksNavBox{
    display: block;
    position: relative;
    float: left;
    margin-left: 10%;
    margin-bottom: 3%;
}

.navBar > .linksNavBox > a{
    color: white;
    padding: 6px 30px;
    margin: 10px;
    font-size: 1.4rem;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 5px;
}

.linksNavBox > a:hover{
    background-color: rgba(255, 255, 255, 0.2);
}


/* -- Title -- */
.titleArea{
    text-shadow: 1px 1px 10px rgb(21, 179, 255);
    text-align: left;
    font-size: 3vw;
    /* font-size: 3rem; */
    color: white;
    margin-left: 10vw;
    transform: translateZ(-5px) scale(1.5);
}

.contentArea{
    padding: 3rem;
    background-color: rgba(0, 0, 0, 0.8);
    width: 90vw;
    margin: auto;
    border: 1px solid rgba(21, 179, 255, 0.5);
}


.card {
    width: 260px;
    /* min-height: 100px; */
    background-color: white;
    color: black;
    display: inline-block;
    border-radius: 5px;
    margin: 1rem;
    overflow: auto;
    vertical-align: top;
    position: relative;
    text-align: left;
    padding: 20px;
}

.card:hover{
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.5);
    background-color: rgb(233, 245, 255);
}

.card > img {
    position: absolute;
    top: 20px;
    right: 30px;
    width: 40px;
    height: 40px;
    

}

.card > button {
    position: absolute;
    bottom: 20px;
    right: 30px;
    padding: 5px 12px;
    height: 40px;
    /* width: 70px; */

    border-radius: 5px;
    border: 1px solid white;
    color: white;
    font-size: 1rem;
    background-color: #2196F3;

}

.card > button:hover{
    border-color: #2196F3;
    color: #2196F3;
    background-color: white;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

.card > .coinSymbol{
    font-weight: bold;
    font-size: 1.7rem;
    display: inline-block;
    margin-top: 20px;
    text-transform: uppercase;
}

.card > .coinName{
    margin: 0px;
    color: #2196F3;
}


.moreInfoArea {
    /* margin: 10px; */
    display: block;
    max-height: 100px;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 22px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
}

.slider.round {
    border-radius: 24px;
}

.slider.round:before {
    border-radius: 50%;
}

.modalFavorite{
    /* display: none; */
    position: fixed;
    top: 20%;
    left: 25%;
    width: 50vw;
    padding: 20px;
    height: max-content;
    background-color: #2196F3;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.8);
}

.favoriteCard{
    width: 130px;
    height: 85px;
    text-align: center;
    border-radius: 7px;
    background-color: white;
    display: inline-block;
    padding: 5px;
    margin: 10px;
    overflow: auto;
    text-transform: uppercase;
    border: 1px solid white;
}

.favoriteCard:hover{
    background-color: rgba(255, 255, 255, 0.7);
}

.modalFavorite > h1 {
    color: white;
}

#closeFavoriteModalBtn{
    position: absolute;
    left: 20px;
    top: 20px;
    padding: 5px;
    height: 30px;
    width: 30px;
    border-radius: 6px;
    background-color: unset;
    color: white;
    border: 0.5px solid white;
    font-size: 1rem;
}

#closeFavoriteModalBtn:hover,
#closeFavoriteModalBtn:focus{
    background-color: rgba(255, 255, 255, 0.2);
}

.modal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}