body, html {
    text-align: center;
    height: 100vh;
    background-color: black;
    margin: 0;
}

/* parallax  */
.parallax {
    /* The image used */
    background-image: url("assets/img/BG.jpg");
  
    /* Full height */
    height: 100vh;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    perspective: 10px;
    overflow-x: hidden;
    overflow-y: auto;
}

.navBar{
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    font-size: 25px;
    position: sticky;
    top: 0px;
}

.searchBox{
    display: inline-block;
}

.searchBox > input{
    padding: 6px 10px;
    border-radius: 5px;
    font-size: 1.2rem;

}

.searchBox > button {
    padding: 6px 10px;
    border-radius: 5px;
    font-size: 1.2rem;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    color: white;
    margin-left: 3px;
}
.searchBox > button:hover{
    background-color: rgba(255, 255, 255, 0.2);
}

.linksNavBox{
    display: inline-block;
    position: relative;
    margin-right: 40%;
}

.navBar > .linksNavBox > a{
    color: white;
    padding: 7px 30px;
    margin: 10px;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    height: 30px;
}

.linksNavBox > a:hover{
    background-color: rgba(255, 255, 255, 0.2);
}

.titleArea{
    font-size: 65px;
    color: white;
    text-shadow: 4px 4px 7px rgba(0, 0, 0, 0.8);
    /* height: 60vh; */
    position: relative;
    transform-style: preserve-3d;
    transform: translateZ(-5px);
    z-index: -1;
}

.contentArea{
    top: 40vh;
    transform-style: preserve-3d;
    transform: translateZ(-10px) scale(2);
    z-index: -1;
    position: relative;
    /* padding: 40px; */
}

.card {
    width: 150px;
    min-height: 120px;
    background-color: white;
    color: black;
    display: inline-block;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    overflow: auto;
    vertical-align: top;
}

/* .loaderGif{
    margin-top: 10px;
} */

.moreInfoArea {
    margin: 10px;
    display: block;
    max-height: 100px;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 22px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
}

.slider.round {
    border-radius: 24px;
}

.slider.round:before {
    border-radius: 50%;
}


.modalFavorite{
    position: fixed;
    top: 20%;
    left: 25%;
    width: 50vw;
    height: 25%;
    background-color: #2196F3;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    display: none;

}

.favoriteCard{
    width: 130px;
    height: 85px;
    text-align: center;
    /* border: 1px solid black; */
    border-radius: 7px;
    background-color: white;
    display: inline-block;
    padding: 5px;
    margin: 10px;
    overflow: auto;
}

.modalFavorite > h1 {
    color: white;
}

#closeFavoriteModalBtn{
    position: absolute;
    left: 20px;
    top: 20px;
}